/*@import "./reset.css";*/
@import "./theme.css";
@import "./font.css";
@import "tailwindcss";


html, body {
    background: #F9F5F0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}


#app > div {
    padding: 10px 25px;
    height: calc(100vh - 20px);
    width: 100%;
    box-sizing: border-box;
}
